<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <h3>Wikinimous</h3>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right">

    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <%= link_to "Create", new_article_path %>
      </div>
    </div>
  </div>
</div>

